<html>
<body>

	<h2>Review your order</h2>
	<div>
		Username : {{user.userobj.nickname}}<br />
		Email : {{user.userobj.email}}<br />
	</div>
	
	<div>
		Shopping at {{store.storename}} @ {{store.storeaddress}} in {{user.city}}, {{user.state}}
		<div><br />
		<b>In your AirCart...</b>
		<ul>
			{% for product in products %}
				<li>
					{{product.quantity}} {{product.productname}} | ${{product.totalprice}}
				</li>
			{% endfor %}
		</ul>
		</div>
	</div>
	
	<div>
		Subtotal = ${{list.subtotal}}<br />
		Tax = ${{list.tax}}<br />
		Service = ${{list.service}}<br />
		Total = ${{list.total}}
	</div><br />
	
	<div>
		Pay with :
		<a href = "/send?listkey={{list.key}}"><button>Google Checkout</button></a>
		<a href = "/send?listkey={{list.key}}"><button>PayPal</button></a><br />
		<a href = "/list?listkey={{list.key}}">Go Back</a>
	</div>
	

</body>
</html>