<html>
<head>
	<link type = "text/css" rel="stylesheet" href="/stylesheets/global.css" />
</head>
  <body>
  	{% if message %}
   		<div class = "notification italic"> {{message}}</div><br /><br />
   	{% endif %}
   	<div>Hi, {{user.userobj.nickname}} <a href = "/user/profile?username={{user.userobj.nickname}}">Profile</a> <a href = "/logout">Logout</a></div>
   	<div>You're shopping at {{list.store.storename}}, located at {{list.store.storeaddress}} in {{user.city}} {{user.state}}.</div>
   	<div>Your list contains {{products|length}} items.</div>
   	<br />
   	<div><a class = "underline-less" href = "/products/search?listkey={{list.key|urlencode}}"><button>Add an item</button></a></div>
    {% if products %}
	  	<ul class = "padding-less">
	    {% for product in products %}
	      <li>
	      	{% if product.quantity == 1 %}
	      		<button disabled = "disabled">-</button>
	      	{% else %}
	      		<a class = "underline-less" href = "/products/update?listkey={{list.key|urlencode}}&productid={{product.productid|urlencode}}&oper=minus"><button>-</button></a>
	      	{% endif %}
	      	<span>{{product.quantity}}</span>
	      	<a class = "underline-less" href = "/products/update?listkey={{list.key|urlencode}}&productid={{product.productid|urlencode}}&oper=plus"><button>+</button></a>
	      	
	      	<span class = "bold">{{product.productname}}</span> ({{product.category}}) | ${{product.totalprice}}{% if product.isTaxable %}T{% endif %}
	      	
	      	<a href = "/products/delete?listkey={{list.key|urlencode}}&productid={{product.productid|urlencode}}">Remove</a>
	      </li>
	    {% endfor %}
	    </ul>
	    
	    <span class = "italic">Subtotal = ${{list.subtotal}}</span><br />
	    <a class = "underline-less" href = "/list/checkout?listkey={{list.key|urlencode}}"><button>Checkout</button></a>

	{% endif %}

  </body>
</html>