<html>
  <body>
   	<b><i>{{message}}</i></b><br /><br />
   	<div>Hi, {{user.userobj.nickname}} <a href = "/logout">Logout</a></div>
   	<div>You're shopping at {{user.store.storename}}, located at {{user.store.storeaddress}} in {{user.city}} {{user.state}}.</div>
   	<div>Your list contains {{products|length}} items.</div>
   	<br />
   	<div><a href = "/products/search">Add an item</a></div>
    {% if products %}
	  	<ul>
	    {% for product in products %}
	      <li>
	      	<b><a href = "/products/update?productid={{product.productid|urlencode}}&oper=minus">-</a></b>
	      	{{product.quantity}}
	      	<b><a href = "/products/update?productid={{product.productid|urlencode}}&oper=plus">+</a></b>
	      	 | {{product.productname}} ({{product.category}})
	      	
	      	<a href = "/products/delete?productid={{product.productid|urlencode}}">Remove</a>
	      </li>
	    {% endfor %}
	    </ul>
	    
	    <a href = "/send?listname={{listname}}&storename={{storename}}">Send</a>
	{% endif %}

  </body>
</html>