<html>
  <body>
  	<div>Hi, {{user.nickname}}  <a href = "/logout">Logout</a></div><br />
    <form action="/stores/search" method="get">
      <div>Search for stores by zip: <br /><input type = "text" name = "zipcode" /></textarea></div>
      <div><input type="submit" value="Search for Stores"></div>
    </form>
    
    {% if stores %}
	    Stores near {{zipcode}}:
	  	<ul>
	    {% for store in stores %}
	      <li>
	      	<a href = "/stores/select?storeid={{store.StoreId|urlencode}}&storename={{store.Storename|urlencode}}&storeaddress={{store.Address|urlencode}}&zipcode={{zipcode|urlencode}}">
	      		{{store.Storename}} @ {{store.Address}}
	      	</a>
	      </li>
	    {% endfor %}
	    </ul>
	    
	    <a href = "/stores">Clear</a>
	{% endif %}

  </body>
</html>